.icon {
  svg {
    display: block;
    width: inherit;
    height: inherit;
    margin: auto;
  }
  &:not(.icon--hero):not(.icon--vector):not([title*='must-know']):not([title*='coupon']) path[fill] {
    fill: var(--icon-color, currentColor);
  }
  &:not(.icon--hero):not(.icon--vector):not([title*='must-know']):not([title*='coupon']) *[stroke] {
    stroke: var(--icon-color, currentColor);
  }
  &[title*='coupon'] *[stroke] {
    fill: var(--icon-color, currentColor);
    stroke: var(--icon-color, currentColor);
  }
  &--small {
    width: 16px;
    height: 16px;
  }
  &--medium {
    width: 24px;
    height: 24px;
  }
  &--large {
    width: 36px;
    height: 36px;
  }
  &--xlarge {
    width: 48px;
    height: 48px;
  }
  &--xxlarge {
    width: 56px;
    height: 56px;
  }
}